.contenedorb {
  width: 170px;
}
.contenedori {
  position: fixed;
  color: #ffffff;
  padding: 0px 0px 0px 10px;
}
@media screen and (max-width: 1024px) {
  .contenedorb {
    width: 160px;
  }
}
@media screen and (max-width: 768px) {
  .contenedorb {
    width: 120px;
  }
}
@media screen and (max-width: 425px) {
  .contenedorb {
    width: 100px;
  }
}
.dropdown {
  background-color: #121212;
  text-indent: 0px;
}
.BotonIcon {
  background-color: #121212;
  text-indent: 0px;
}
