.contenedorb {
  font-family: "VCR_OSD_MONO_1";
}

@media screen and (max-width: 1024px) {
  .contenedorb {
    width: 160px;
  }
}
@media screen and (max-width: 768px) {
  .contenedorb {
    width: 120px;
  }
}
@media screen and (max-width: 425px) {
  .contenedorb {
    width: 100px;
  }
}
.dropdown {
  background-color: #121212;
}
.BotonIcon {
  background-color: #131212;
  text-indent: 0px;
}
