.opciones{
  margin-left: 5px;
  padding: 2px;
  min-width: 8rem;
}
.opcion{
  margin-left: 5px;
  
}
.SeccionDrop{
  font-size: large;
  color: blue;
}

.alfa{
  color:black;
}
.cuadro-general{
  background-color: white;
}
.opcionOrden{
  font-size: small;
}
