@font-face {
  font-family: "Pixel";
  src: url(../assets/fonts/VCR_OSD_MONO_1.001.ttf);
  font-style: normal;
  font-weight: normal;
}
.fotter-stylemain {
  background-color: #012340;
}

.fotter-stylerepo {
  background-color: #121212;
}

.footLogIn {
  background-color: #597396;
}
