.fondoBibliografia{
    background-image: url(../assets/images/fondoBibliografia.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

  }
  
  .titulo-de-bibliografia{
    color:white;
  text-align: center;
    font-family: 'Pixel';
  }

  
  
  @font-face {
    font-family: "Pixel";
    src: url(../assets/fonts/VCR_OSD_MONO_1.001.ttf);
    font-style: normal;
    font-weight: normal;
  }
  
  .descripcion-de-bibliografia{
    color:white;
    font-family: 'Pixel';
  }

.wrapper-grid {

    display: grid;
    grid-template-columns: repeat(auto-fit,22rem);
    justify-content: center;
    color: black;

}
.container_cards{
    margin: 10px;
}





