*,
* ::before,
* ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.fondoPaginaPrincipal {
  background-image: url("../assets/images/fondopagianPrincipal.jpg");
  background-position: center center;
  background-size: cover;
  padding-bottom: 10%;
  width: 100%;
  text-align: center;
}


.card_main_imagen {
  height: 10rem;
  width: 12rem;
  margin: 10px auto;
  transition: width 1s, height 1s;
}
.card_main_imagen:hover{
  width: 13rem;
  height: 12rem;

}
.card-bodyMain {
  margin: 1rem;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 22rem));
  justify-content: center;
  color: black;
}
.tamaño_card {
  max-width: 20rem;
  min-height: 27rem;
}

.container_cards {
  margin-top: 30px;
}
.tamaño {
  font-size: 1.8rem;
}
.titulo {
  line-height: 1.5rem;
  text-align: start;
}
.estilo {
  display: inline-block;
  background-color: transparent;
  margin-top: 5%;
}
.card .card-body .card-text {
  font-size: 1rem;
  font-weight: none;
  color:black;
}
