.fondoPaginaPrincipal{
   background-image: url("../assets/images/fondopagianPrincipal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.card{
max-width: 18rem;

}


