@font-face {
  font-family: "VCR_OSD_MONO_1";
  src: url("../assets/fonts/VCR_OSD_MONO_1.001.ttf");
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(42, 66, 131);
}
.content-wrap {
  flex: 1;
}
