.navbar-styles {
  background-color: #fc8422;
}

.contenedor {
  background-image: url("../assets/images/fondon.jpg");
  background-position: center center;
  background-size: cover;
  padding-bottom: 10%;
  height: 100vh;
}

.bienvenida {
  color: rgb(255, 255, 255);
  text-indent: 100px;
  margin-top: 100px;
  font-family: "VCR_OSD_MONO_1";
  padding: 20px;
 
}

.texto {
  color: rgb(235, 228, 228);
  text-indent: 100px;
  margin-top: 0px;
  font-family: "VCR_OSD_MONO_1";
  padding: 20px;
  font-size: larger;
}
/*#img {
  background-image: url("../assets/images/fondon.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
  padding-bottom: 9%;
}*/
.botones {
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .bienvenida {
    color: rgb(255, 255, 255);
    text-indent: 0px;
    margin-top: 50px;
    padding: 20px;
    font-size: large;
  }
  .texto {
    color: rgb(255, 255, 255);
    text-indent: 0px;
    margin-top: 20px;
    padding: 20px;
    font-size: large;
  }
}

@media screen and (max-width: 1000px) {
  .Botones {
    text-indent: 0px;
    margin-top: 200px;
    padding: 150px 30px 0px 30px;
  }
  .texto {
    color: rgb(255, 255, 255);
    text-indent: 0px;
    margin-top: 20px;
    padding: 20px;
    font-size: larger;
  }
}

/*@media screen and (min-width: 200px) {
  .Botones {
    text-indent: 0px;
    margin-top: -500px;
    padding: 150px;
  }
}*/
