Parallax {
  min-height: auto;
  position: relative;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  Parallax {
    font-size: 250%;
    background-size: contain;
  }
}
@media (max-heigth: 768px) {
  Parallax {
    font-size: 250%;
    background-size: contain;
  }
}
