.fondoVocabulario {
    background-image: url("../assets/images/fondoVocabulario.jpg");
    background-position: center center;
    background-size: cover;
    padding-bottom: 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
  }
  @font-face {
    font-family: "VCR_OSD_MONO_1";
    src: url("../assets/fonts/VCR_OSD_MONO_1.001.ttf");
  }
  
  .content-wrap {
    flex: 1;
  }