.navbar-styles {
  background-color: #ffa155;
}

.centered {
  position: absolute;
  top: 25%;
  left: 35%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
}
.container {
  position: relative;
  text-align: center;

  
}

