.navbar-styles {
  font-family: 'Pixel';
}
.navbarBibliografia-styles{
  text-align: center;

}
body,.fondoBibliografia{
  height: 100% ;
  margin:0;
  background-image: url(./images/fondoBibliografia.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo-de-bibliografia{
  color:white;
  text-align: center;
}
.descripcion-de-bibliografia{
  color:white;
  text-align: center;
}


@font-face {
  font-family: "Pixel";
  src: url(./fonts/VCR_OSD_MONO_1.001.ttf);
  font-style: normal;
  font-weight: normal;

}